* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.chooseList {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}